<!DOCTYPE HTML>
<html>
	<head>
		<title>자취생의 레시피</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    </head>
    <body class="is-preload">

        <!-- Header -->
            <header id="header">
                <h1>자취생의 냉장고.v1</h1>
                <p>자취생의 냉장고는 자취생에게 맞는 n 개의 레시피를 보유하고 있습니다!<br/>
                레시피 출처는? <a href="https://www.10000recipe.com/">만개의레시피</a></p>
            </header>
            <br>
            <iframe
                src="http://localhost:3000/public/dashboard/7fe994be-286d-4bcb-a2ff-86cba1bb26b9"
                frameborder="0"
                allowtransparency
                style="overflow:auto; display:block; position: absolute; height: 100%; width: 100%">

    </body>